<!-- Navbar start -->
<div class="nav-container">
    <nav class="navbar">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logo">
            <a href="/"><img src="/images/Bollygrad Film & Television Institute.png" width="200" alt="Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/courses">&nbsp;&nbsp;Courses</a></li>
            <li><a href="/production">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Production</a></li>
            <li><a href="/faculties">&nbsp;&nbsp;Faculties</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/blogs">Blogs</a></li>
        </ul>
    </nav>
</div>
<!-- Navbar End -->